{include file="Common/header"}
<body>
<div id="info" style="display: none;padding-top:30px;">
    <form method='post' class="layui-form" class="layui-form" lay-filter="example">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend id="student_info"><b id="type">新增平台</b></legend>
        </fieldset>
        <input type="hidden" name="id" value="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">平台名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" value="" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                    <input type="text" name="sort" value="" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="set">立即提交</button>
            </div>
        </div>
    </form>
</div>

<form class="layui-form" action="">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <a href="javascript:add()" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="student_update">新增平台</a>
        </div>
    </div>
</form>
<table class="layui-hide" lay-data="{id: 'idTest'}" id="data"></table>
<script language="JavaScript" type="text/javascript">
var table;
var tableIns;
var form;
var layer;
layui.use(['table','layer','form'], function(){
    $ = layui.jquery;
    table = layui.table;
    form = layui.form;
    layer = layui.layer;
    tableIns = table.render({
        elem: '#data',
        url: 'admin-platfrom',
        page: true,
        method: 'get',
        limit: 15,
        limits: [15],
        headers: {authorization: '{$token}'},
        where: {type:'json'},
        cols: [[
            {field:'sort', align:'center', title:'排序', unresize: true},
            {field:'id', align:'center', title:'平台ID', unresize: true},
            {field:'name', align:'center', title:'平台名称', unresize: true},
            {field:'chart_price', align:'center', title:'操作', unresize: true,templet:function(d){
                var detail = '<a onclick='+"'"+'dateil('+JSON.stringify(d)+')'+"'"+' class="layui-btn layui-btn-normal layui-btn-xs">详情</a>&nbsp;&nbsp;';
                var del = '<a onclick='+"'"+'dele('+(d.id)+')'+"'"+' class="layui-btn layui-btn-danger layui-btn-xs">删除</a>';
                return detail + del;
            }},
        ]]
    })

    form.on('submit(set)', function(data){
        var id = $('input[name=id]').val();
        var name = $('input[name=name]').val();
        var sort = $('input[name=sort]').val();
        $.ajax({
            type: 'post',
            url: 'admin-platfrom',
            headers: {authorization:'{$token}'},
            data: {id:id,name:name,sort:sort},
            success: function(res) {
                layer.msg('成功', {time:2000,icon:6,anim:0});
                setTimeout(function() {
                    window.location.href = "admin-platfrom?token={$token}";
                }, 2000);
            }
          })
    })
})

function dateil(obj)
{
    $('input[name=name]').val(obj.name);
    $('input[name=id]').val(obj.id);
    $('input[name=sort]').val(obj.sort);
    $('.is_disable_'+obj.is_disable).click();
    layer.open({
        type:1,//1界面层
        title:false,
        closeBtn:false,//关闭按钮类型
        shadeClose:true,//开启点击遮罩外关闭
        skin:'layui-layer-lan',//皮肤
        area: ['800px', '380px'],
        content: $('#info')
    })
}
function add() {
    layer.open({
        type:1,//1界面层
        title:false,
        closeBtn:false,//关闭按钮类型
        shadeClose:true,//开启点击遮罩外关闭
        skin:'layui-layer-lan',//皮肤
        area: ['800px', '380px'],
        content: $('#info')
    })
}

function dele(id) {
    layer.confirm('确定删除', {
      btn: ['确定','取消'] //按钮
    }, function(){
        $.ajax({
            type:'delete',
            url: 'admin-platfrom?id='+id,
            headers: {authorization:'{$token}'},
            success: function(res){
                layer.msg('删除成功', {icon: 1});
                tableIns.reload({page: {curr: 1}});
            }
        })
    }, function(){
      /*layer.msg('也可以这样', {
        time: 20000, //20s后自动关闭
        btn: ['明白了', '知道了']
      });*/
    });
}
</script>
</body>
</html>